/*****************************************
  Name: Mohammad Al Ridhawi
  Date: April 8, 2015
  Description: layout and styles the menus  
******************************************/

/*************************
 sets width of the page
**************************/
#content {
  /*height*/ 
  height: 100%;
  min-height: 100%;
  /*aligns text to the left*/
  text-align: left;
}

#content,
#width {
  /*width*/
  width: expression(document.body.clientWidth > 1000 ? "1000px" : "94%");  
  max-width: 1000px;
  margin: 0 auto;
}

#content[id],
#width[id] {
  /*sets width*/
  width: 94%;
  /*sets height*/
  height: auto;
}

/***************************************
  Site title and header images
****************************************/
#header-{
  /*sets the position of the header to relative*/
  position: relative;
  /*sets height of the header*/
  height: 193px;
}

#header-#title {
  /*sets position of title to absolute*/
  position: absolute;
  z-index: 3;
  top: 10px;
  left: 130px;
  /*sets padding of title*/
  padding: 5px;
  /*aligns the text to the right*/
  text-align: right;
}

#header-h1 {
  margin: 0;
  padding: 0;
  /*sets font of h1*/
  font: 700 4em "trebuchet ms", serif;
  letter-spacing: -3px;
  /*sets text to lowercase*/
  text-transform: lowercase;
  /*sets color*/
  color: #FFF;
}

#header-h2 {
  /*sets position to absolute*/
  position: absolute;
  top: 10px;
  right: 5px;
  margin: 0;
  padding: 0;
  /*sets font of h1*/
  font: 700 1em "trebuchet ms", serif;
  /*sets text to lowercase*/
  text-transform: lowercase;
  /*sets color*/
  color: #00F0EC;
}

/************************************
    sets where the images will be
*************************************/

/*sets images to left*/
#header-img.left {
  /*sets position to absolute*/
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
/*sets images to right*/
#header-img.right {
  /*sets position to absolute*/
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
}

#header-img.balloons {
  /*sets position to absolute*/
  position: absolute;
  z-index: 2;
  top: 70px;
  right: 400px;
}

/*****************************
 Menus at the top of the site
 *****************************/
#mainMenu { 
  /*sets main menu to the left*/
  float: left;
  /*sets width of menu to the 100%*/
  width: 100%;
  clear: both;  
}

#mainMenu ul {
  /*sets margin*/
  margin: 0;
  /*sets padding*/
  padding: 0;
}

#mainMenu li {
  /*inlines main menu*/
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

#mainMenu li a {
  float: left;
  /*sets margin*/
  margin: 0 2px;
  /*sets padding*/
  padding: 5px 0.5em;
  /*sets font*/
  font: 400 1.6em "trebuchet ms", serif;
  text-decoration: none;
  /*sets text to lowercase*/
  text-transform: lowercase;
  color: #FFF;
}

#mainMenu li a:hover,
#mainMenu li a.here {
  color: #65EBFF;
  border-top: 5px solid #000;
}

#mainMenu li a.last {
  margin-right: 0;
}

/*****************************
    side menu
******************************/
ul.sideMenu {
  /*sets margin*/
  margin: 0;
  /*sets padding*/
  padding: 0;
}

.sideMenu li {
   /*inlines side menu*/
  display: inline; 
  list-style-image: url(foo.gif);
  /*sets font*/
  font: 400 1.3em "trebuchet ms", serif;
}

.sideMenu li a {
  display: block;
  margin: 0.2em 0;
  padding: 3px 5px;     
  text-decoration: none;
  color: #FFF;
} 

.sideMenu li a:hover {
  color: #65EBFF;
  background: #5F5F5F;
}

.sideMenu li.here {
  display: block;  
  padding: 5px;
  color: #65EBFF;
  background: #555;
}

.sideMenu li.here ul {
  margin: 0;
  padding: 0;
}

.sideMenu li.here ul li a {
  padding-left: 35px;
  font: 400 0.55em verdana, arial, sans-serif; 
  color: #FFF;  
  background: url(../Images/bullet.gif) no-repeat 10px 0px;
}

.sideMenu li.here ul li a:hover {
  color: #9FF3FF;
  background: #5F5F5F url(../Images/bullet.gif) no-repeat 10px 0px;
}
/*******************
 main page content
********************/
#page {
  float: left;
  width: 100%;
  clear: both;
  padding-bottom: 4em;
}
/**************************************
    page footer at the bottom of page
***************************************/
#footer {
  float: left;
  width: 100%;
  clear: both;
  margin-top: -3.8em;
  background: #000 url(../../Images/footer.jpg) repeat-x top left;
}
/*width of footer*/
#footer #width {
  position: relative;
  z-index: 3;
  font-size: 0.85em;
  padding-top: 27px;
}
/**************************
    site columns width
***************************/
.width100 {
  width: 100%;
}

.width75 {
  width: 74%;
}

.width50 {
  width: 49.7%;
}

.width33 {
  width: 32.7%;
}

.width25 {
  width: 24.7%;
}
/*****************************
    Alligns the classes
******************************/
.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}
/************************************
    generic display of the classes
*************************************/
.clear {
  clear: both;
}

.block {
  display: block;
}

.small {
  font-size: 0.8em;
}

.green {
  color: #A1FF45;
}

.red {
  color: #EA1B00;
}

.grey {
  color: #666;
}

.grey a {
  color: #999;
}

.grey a:hover {
  color: #EEE;
}

.gradient {
  margin-bottom: 2em;
  background: #555 url(../../Images/gradient.jpg) repeat-x bottom left; 
}





